html, body{
    margin:0px;
    padding:0px;
}

/* find and style the element with id */


#camera, #camera-device, #photo-display{
    position:fixed;
    object-fit: contain;
    height:100%;
    width: 100%;
}
/* style the "take-photo-button"*/

#take-photo-button{
    position:fixed;
    bottom:30px;
    width:100%;
}

/* style the "front-camera-button"*/

#front-camera-button{
    position:fixed;
    bottom: 80px;
    width: 100px;
}

/* style the "class"*/
.photo-taken{
    height:100px !important;
    width: 100px !important;

}